/* Animated BG - Start */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #7556ff;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 21s linear infinite;
}

.background li:nth-child(0) {
  left: 19%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 9%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 45%;
  width: 204px;
  height: 204px;
  bottom: -204px;
  animation-delay: 4s;
}
.background li:nth-child(3) {
  left: 27%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 2s;
}
.background li:nth-child(4) {
  left: 53%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  animation-delay: 8s;
}
.background li:nth-child(5) {
  left: 46%;
  width: 139px;
  height: 139px;
  bottom: -139px;
  animation-delay: 19s;
}
.background li:nth-child(6) {
  left: 87%;
  width: 179px;
  height: 179px;
  bottom: -179px;
  animation-delay: 27s;
}
.background li:nth-child(7) {
  left: 2%;
  width: 163px;
  height: 163px;
  bottom: -163px;
  animation-delay: 7s;
}
.background li:nth-child(8) {
  left: 58%;
  width: 180px;
  height: 180px;
  bottom: -180px;
  animation-delay: 37s;
}
.background li:nth-child(9) {
  left: 82%;
  width: 118px;
  height: 118px;
  bottom: -118px;
  animation-delay: 11s;
}
.background li:nth-child(10) {
  left: 58%;
  width: 206px;
  height: 206px;
  bottom: -206px;
  animation-delay: 18s;
}
.background li:nth-child(11) {
  left: 60%;
  width: 195px;
  height: 195px;
  bottom: -195px;
  animation-delay: 1s;
}
.background li:nth-child(12) {
  left: 10%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 45s;
}

/* Animated BG - End */
